<?xml version="1.0"?>
<robot name="sonar" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Includes -->
  <xacro:include filename="$(find paul_description)/urdf/sensors/sonar/sonar.gazebo.xacro"/>

  <xacro:macro name="sonar" params="parent *origin name:=sonar topics_ns:=sonars enabled">
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <xacro:property name="sonar_width" value="0.04"/>
    <xacro:property name="sonar_depth" value="0.05"/>
    <xacro:property name="sonar_height" value="0.02"/>

    <link name="${name}_sonar_link">
        <visual>
            <geometry>
                <box size="${sonar_width} ${sonar_depth} ${sonar_height}"/>
            </geometry>
            <material name="Orange">
                <color rgba="100 165 0 1.0"/>
            </material>
        </visual>
    </link>

    <joint name="${name}_sonar" type="fixed">
        <parent link="${parent}"/>
        <child link="${name}_sonar_link"/>
        <xacro:insert_block name="origin" />
    </joint>

    <!-- Sonar Gazebo Plugin -->
    <xacro:if value="${enabled}">
        <xacro:gazebo_sonar sonar_name="${name}" reference_link="${name}_sonar_link" topics_ns="${topics_ns}"/>
    </xacro:if>
    
  </xacro:macro>
</robot>
