<?xml version="1.0"?>
<robot name="paul" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ============================================== -->
  <!-- ================= PARAMETERS ================= -->
  <!-- ============================================== -->

  <!-- Need argument to get from launch file:
  based on https://answers.ros.org/question/379014/passing-outside-parameters-into-urdf-file-using-xacro/ -->
  <xacro:arg name="sim" default="false"/>

  <!-- Kinova arm parameters -->
  <xacro:arg name="arm"     default="gen3"/>
  <xacro:arg name="dof"     default="7"/>
  <xacro:arg name="vision"  default="true"/>
  <xacro:arg name="gripper" default=""/>

  <!-- Constant for paul base -->
  <xacro:property name="mass" 			value="20.0" />
  <xacro:property name="base_width" 		value="0.64135" />
  <xacro:property name="base_height"		value="0.85027" /> <!-- Without wheels -->
  <xacro:property name="base_length"		value="1.1303" />
  <xacro:property name="base_pose_z"		value="${ground_to_base_z}" />
  <xacro:property name="wheel_to_base_z" 	value="0.08827" />
  <xacro:property name="ground_to_base_z"	value="${wheel_to_base_z + wheel_radius}" />

  <!-- Common wheels parameters -->
  <xacro:property name="wheel_diameter"		value="0.14732" />
  <xacro:property name="wheel_radius"		value="${wheel_diameter/2}"/>
  <xacro:property name="wheel_thickness"	value="0.03"/>
  <xacro:property name="wheel_mass"		value="0.200"/>
  <xacro:property name="front_to_rear_wheels_x"	value="0.84056"/>
  <xacro:property name="front_right_left_y"	value="0.3302"/>
  <xacro:property name="rear_right_left_y"	value="0.5715"/>

  <!-- Constant for driven wheels -->
    <!-- Right wheel parameters -->
  <xacro:property name="wheel_R_pose_x"		value="${-front_to_rear_wheels_x/2}"/>
  <xacro:property name="wheel_R_pose_y"		value="${-rear_right_left_y/2}"/> 
  <xacro:property name="wheel_R_pose_z"		value="${-wheel_radius}"/>
  <xacro:property name="wheel_R_rot_x"   	value="0.0000"/>
  <xacro:property name="wheel_R_rot_y"   	value="0.0000"/>
  <xacro:property name="wheel_R_rot_z"   	value="0.0000"/>
    <!-- Left wheel parameters -->
  <xacro:property name="wheel_L_pose_x"		value=" ${wheel_R_pose_x}"/>
  <xacro:property name="wheel_L_pose_y"		value="${-wheel_R_pose_y}"/>
  <xacro:property name="wheel_L_pose_z"		value=" ${wheel_R_pose_z}"/>
  <xacro:property name="wheel_L_rot_x"		value=" ${wheel_R_rot_x}"/>
  <xacro:property name="wheel_L_rot_y"		value=" ${wheel_R_rot_y}"/>
  <xacro:property name="wheel_L_rot_z"		value=" ${wheel_R_rot_z}"/>

  <!-- Constant for caster wheels -->
    <!-- Right caster wheel parameters -->
  <xacro:property name="caster_R_pose_x"	value="${front_to_rear_wheels_x/2}"/>
  <xacro:property name="caster_R_pose_y"	value="${-front_right_left_y/2}"/> 
  <xacro:property name="caster_R_pose_z"	value="${-wheel_radius}"/>
  <xacro:property name="caster_R_rot_x"   	value="0.0000"/>
  <xacro:property name="caster_R_rot_y"   	value="0.0000"/>
  <xacro:property name="caster_R_rot_z"   	value="0.0000"/>
    <!-- Left caster wheel parameters -->
  <xacro:property name="caster_L_pose_x"	value=" ${caster_R_pose_x}"/>
  <xacro:property name="caster_L_pose_y"	value="${-caster_R_pose_y}"/>
  <xacro:property name="caster_L_pose_z"	value=" ${caster_R_pose_z}"/>
  <xacro:property name="caster_L_rot_x"		value=" ${caster_R_rot_x}"/>
  <xacro:property name="caster_L_rot_y"		value=" ${caster_R_rot_y}"/>
  <xacro:property name="caster_L_rot_z"		value=" ${caster_R_rot_z}"/>

  <!-- RGBD sensor parameters -->
  <xacro:property name="realsense_pose_x" value="${base_width}" />
  <xacro:property name="realsense_pose_y" value="0.0" />
  <xacro:property name="realsense_pose_z" value="${base_height}" />
  <xacro:property name="use_nominal_extrinsics" value="$(arg sim)"/>
  <xacro:property name="realsense_rot_x" value="0.0" />
  <xacro:property name="realsense_rot_y" value="0.0" />
  <xacro:property name="realsense_rot_z" value="0.0" />

  <!-- ============================================== -->
  <!-- ================= COMPONENTS ================= -->
  <!-- ============================================== -->

  <!-- Included files -->
  <xacro:include filename="$(find paul_description)/urdf/components/wheel.urdf.xacro" />
  <xacro:include filename="$(find paul_description)/urdf/components/caster.urdf.xacro" />
  <xacro:include filename="$(find paul_description)/urdf/paul.gazebo.xacro" />
  <xacro:include filename="$(find paul_description)/urdf/sensors/lidar.urdf.xacro" />
  <xacro:include filename="$(find paul_description)/urdf/sensors/d435/_d435.urdf.xacro"/>
  <xacro:include filename="$(find paul_description)/urdf/sensors/sonar/sonar.urdf.xacro"/>
  <xacro:include filename="$(find paul_description)/urdf/sensors/realsense_d415.urdf.xacro"/>
  <!-- ============================================== -->
  <!-- ==================== BASE ==================== -->
  <!-- ============================================== -->

  <!-- base_footprint is a fictitious link(frame) that is on the ground right below base_link origin -->
  <link name="base_footprint"/>

  <!-- base_link (only static pieces) -->
  <link name="base_link">
    <inertial>
      <mass value="24.265" />
      <!-- Position of center of mass -->
      <origin xyz="-0.176 0.0 0.203" rpy="0 0 0" />
      <!-- Moment of inertia around center of mass -->
      <inertia  ixx="3.681" ixy="0.0"  ixz="-0.168"  
                iyy="4.665"  iyz="0.0"  
                izz="3.867" /> 
    </inertial>

    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://paul_description/meshes/shopping-cart-without-wheels.stl"/>
      </geometry>
      <material name="white"/>
    </visual>

    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://paul_description/meshes/shopping-cart-without-wheels.stl"/>
      </geometry>
    </collision>

  </link>

  <joint name="footprintBase" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 ${ground_to_base_z}" rpy="0 0 0"/>
  </joint>

  <!-- driven wheels -->
    <!-- Right Wheel: "wheel_R_link" and "wheel_R_joint" -->
  <xacro:wheel lr="R" parent="base_link" wheelRadius="${wheel_radius}" wheelLength="${wheel_thickness}" wheelMass="${wheel_mass}" posX="${wheel_R_pose_x}" posY="${wheel_R_pose_y}" posZ="${wheel_R_pose_z}" flipY="1"/>
    <!-- Left Wheel: "wheel_L_link" and "wheel_L_joint" -->
  <xacro:wheel lr="L" parent="base_link" wheelRadius="${wheel_radius}" wheelLength="${wheel_thickness}" wheelMass="${wheel_mass}" posX="${wheel_L_pose_x}" posY="${wheel_L_pose_y}" posZ="${wheel_L_pose_z}" flipY="1"/>

  <!-- caster wheels -->
    <!-- Right caster wheel: "caster_R_link" and "caster_R_joint" -->
  <xacro:caster lr="R" parent="base_link" casterRadius="${wheel_radius}" casterMass="${wheel_mass}" posX="${caster_R_pose_x}" posY="${caster_R_pose_y}" posZ="${caster_R_pose_z}" flipY="1"/>
    <!-- Left caster wheel: "caster_L_link" and "caster_L_joint" -->
  <xacro:caster lr="L" parent="base_link" casterRadius="${wheel_radius}" casterMass="${wheel_mass}" posX="${caster_L_pose_x}" posY="${caster_L_pose_y}" posZ="${caster_L_pose_z}" flipY="1"/>


  <!-- ============================================== -->
  <!-- ================== SENSORS =================== -->
  <!-- ============================================== -->

  <!-- IMU -->
  <link name="imu_link"/>

  <joint name="baseIMU" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Cameras -->
  <link name="rgb1_link" >
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size ="0.03 0.03 0.03" />
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <link name="rgb2_link"/>

  <joint name="baseRGB1" type="fixed">
    <parent link="base_link"/>
    <child link="rgb1_link"/>
    <origin xyz="0.592 0.0 0.532" rpy="0 0 0"/>
  </joint>

  <joint name="baseRGB2" type="fixed">
    <parent link="base_link"/>
    <child link="rgb2_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Lidar sensor -->
  <xacro:lidar parent="base_link">
    <origin xyz="0.50614 0 0.1" rpy="0 0 0" />
  </xacro:lidar>

  <!-- D435 RGB-D Sensor, D415 in simulation for better performance with rtabmap in simulation -->
  <xacro:if value="$(arg sim)">
    <xacro:realsense_d415_sensor parent="base_link" name="realsense" >
      <origin xyz="${realsense_pose_x} ${realsense_pose_y} ${realsense_pose_z}" rpy="${realsense_rot_x} ${realsense_rot_y} ${realsense_rot_z}"/>
    </xacro:realsense_d415_sensor>
  </xacro:if>
  <xacro:unless value="$(arg sim)">
    <xacro:sensor_d435 parent="base_link" use_nominal_extrinsics="${use_nominal_extrinsics}" name="realsense" topics_ns="realsense">
      <origin xyz="${realsense_pose_x} ${realsense_pose_y} ${realsense_pose_z}" rpy="${realsense_rot_x} ${realsense_rot_y} ${realsense_rot_z}"/>
    </xacro:sensor_d435>
  </xacro:unless>
  

  <!-- Sonars: currently commented for better performance with rtabmap in simulation -->
  <xacro:sonar name="left" parent="base_link" enabled="false">
    <origin xyz="${base_width} 0.1 ${base_height - 0.2}" rpy="0 0 0"/>
  </xacro:sonar>

  <xacro:sonar name="center" parent="base_link" enabled="false">
    <origin xyz="${base_width} 0 ${base_height - 0.2}" rpy="0 0 0"/>
  </xacro:sonar>

  <xacro:sonar name="right" parent="base_link" enabled="false">
    <origin xyz="${base_width} -0.1 ${base_height - 0.2}" rpy="0 0 0"/>
  </xacro:sonar>

  <!-- ============================================== -->
  <!-- ==================== ARM ===================== -->
  <!-- ============================================== -->

  <xacro:unless value="$(arg sim)">
    <!-- linear axis -->
    <link name="linear_axis_link" />
    <joint name="linear_axis" type="prismatic">
      <limit effort="1000.0" lower="0" upper="1" velocity="0.5"/>
      <axis xyz="0 0 1"/>
      <parent link="base_link"/>
      <child link="linear_axis_link"/>
      <origin xyz="-0.6 0.0 0.0" rpy="0 0 0"/>
    </joint>
  
    <!-- load arm -->
    <xacro:include filename="$(find paul_description)/urdf/arms/kortex_robot.xacro" />
    <xacro:load_robot arm="$(arg arm)" gripper="$(arg gripper)" dof="$(arg dof)" vision="$(arg vision)" sim="$(arg sim)"  prefix="arm_" />

    <!-- attach arm to newly created link -->
    <joint name="arm_mount" type="fixed">
      <parent link="linear_axis_link"/>
      <child link="arm_base_link"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

  </xacro:unless>

</robot>
